<a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">{{ personObject.name }}</h4>
    <!-- NB!! we need to pass an obj map rather than the obj itself -->
    <p class="list-group-item-text"> {{formattedAddressFn({ aperson: personObject})}}</p>

    <!--<p class="list-group-item-text">{{ personObject.address }}</p>-->
    <!--<p class="list-group-item-text">{{ personObject.zip }}</p>-->

    <!--<p class="list-group-item-text">{{ personAddress }}</p>-->
    <!--<p class="list-group-item-text">{{ personZip }}</p>-->
</a>
