<!--<!DOCTYPE html>-->
<!--<html lang="en-US" ng-app="myOtherApp">-->
<!--<head>-->
<!--<meta charset="UTF-8"/>-->
<!--<title>Fun you</title>-->
<!--<meta name="keywords" content="Fun, you, AngularJS"/>-->

<!--<link rel="stylesheet" href="../../dist/css/normalize.css">-->
<!--<link rel="stylesheet" href="../css/main.css">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">-->
<!--<script src="../js/vendor/modernizr-2.8.3.min.js"></script>-->


<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--<nav class="navbar navbar-default">-->
<!--<div class="container-fluid">-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand"-->
<!--href="#/index.html">AngularJS </a>-->
<!--</div>-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--&lt;!&ndash;<li><a href="/testing.html"> <i class="fa fa-home"></i>Home </a></li>&ndash;&gt;-->
<!--<li><a href="/lorem_ipsum.html"> <i class="fa fa-bullhorn"></i>Lorem Ipsum</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->
<!--</header>-->
<div class="row">
    <input type="text" value="
    {{ person.name }}" id="input"
    />

    <div class="col-md-12">
        <!-- poking a hole in the parent scope to access the person object by adding custom properties -->
        <!--<search-result person-name="{{ person.name}}" person-address="{{ person.address}}" person-zip="{{ person.zip}}"></search-result>-->
        <div class="list-group">
            <search-result person-object="person" formatted-address-fn="formattedAddress(aperson)"
                           ng-repeat="person in people">
            </search-result>
            <!--<search-result></search-result>-->
        </div>
    </div>

    <div class="col-md-12">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolorem, eligendi harum hic labore, magnam
            mollitia natus nemo officiis qui reprehenderit temporibus. Ab doloribus fugiat pariatur quaerat quia,
            sed veritatis.
        </div>
        <div>Accusamus blanditiis cum dolore eos est iste minima nisi officiis placeat quasi, sint tempora tempore
            vero. Accusamus corporis fuga id minima nam, porro quaerat repellendus repudiandae saepe soluta tenetur
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci beatae, corporis distinctio
                dolorem error exercitationem fugiat molestiae molestias nostrum quam recusandae reiciendis veritatis
                voluptas. Ab alias autem necessitatibus qui velit!velit. </p>
        </div>
        <div>A cum debitis delectus dicta doloribus eos error facilis quidem rerum ut. Deleniti doloremque
            exercitationem illum iusto natus necessitatibus nostrum obcaecati odio praesentium qui! Et laboriosam
            nulla pariatur quaerat veniam?velit.
        </div>
    </div>
    <div>Accusantium aperiam eligendi, exercitationem fugit ipsa ipsam magni numquam quod soluta ullam! Atque
        dolor eveniet ex minima minus voluptatibus. Alias aspernatur aut autem beatae magnam modi perspiciatis
        quos ratione voluptatem?
    </div>
    <div>Ad asperiores consectetur cupiditate, doloremque dolores dolorum eligendi enim excepturi facilis fuga
        ipsa ipsam itaque labore, magni maiores maxime, molestias neque nesciunt saepe sed soluta tempora
        temporibus totam ullam vel.
    </div>
</div>


<!--<footer>-->
<!--&lt;!&ndash; VENDOR &ndash;&gt;-->
<!--<script src="../js/vendor/angular.min.js"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>-->
<!--&lt;!&ndash; CUSTOM &ndash;&gt;-->
<!--<script src="../js/plugins.js"></script>-->
<!--<script src="../js/main.js"></script>-->
<!--<script src="../js/secondary.js"></script>-->
<!--<script src="../js/third.js"></script>-->

<!--</footer>-->
<!--</body>-->
<!--</html>-->